:root {
  --screen-width: 100%;
  --screen-height: 100vh;
  --header-bg-color: white;
  --splash-bg-color: #F46662;
  --purple: #5454AB;
  --red: #F46662;
  --off-black: #3C3C3C;
  --light-gray: #646464;
  --faint-gray: #FAFAFA;
  --gradient-red-purple: linear-gradient(to right, rgba(244, 102, 98, 0.9), rgba(84, 84, 171, 0.25));
  --gradient-red-background: rgba(244, 102, 98, .9);
  --gradient-purple-red: linear-gradient(to right, rgba(84, 84, 171, 0.7), rgba(244, 102, 98, 0.4));
  --gradient-purple-background: rgba(84, 84, 171, 0.6);
}

.red-gradient {
  background-color: var(--gradient-red-background);
  background-image: var(--gradient-red-purple);
}

.purple-gradient {
  background-color: var(--gradient-purple-background);
  background-image: var(--gradient-purple-red);
}

.highlight-red {
  color: var(--red);
}

.highlight-purple,
h1.highlight-purple {
  color: var(--purple);
}

/* font-family: 'Arvo', serif;
font-family: 'Roboto', sans-serif; */
html,
body,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: normal;
}

p,
ul {
  height: 100%;
  width: 100%;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.nav__toggle {
  display: inline-block;
  position: absolute;
  z-index: 10;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  right: 20px;
  top: 20px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: background-color .15s linear;
  transition: background-color .15s linear;
}

.nav__toggle:hover, .nav__toggle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: var(--screen-height);
  position: relative;
  z-index: 5;
  visibility: hidden;
}

.nav__item {
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
  transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
}

.nav__item:nth-child(1) {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.nav__item:nth-child(2) {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

.nav__item:nth-child(3) {
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
}

.nav__item:nth-child(4) {
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
}

.nav__item:nth-child(5) {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.nav__link {
  color: white;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  bottom: 8vh;
}

.nav__link:hover, .nav__link:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.menuicon {
  display: block;
  cursor: pointer;
  color: var(--light-gray);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menuicon__bar, .menuicon__circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}

.menuicon__bar {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

.menuicon__circle {
  -webkit-transition: stroke-dashoffset .3s linear .1s;
  transition: stroke-dashoffset .3s linear .1s;
  stroke-dashoffset: 144.51326;
  stroke-dasharray: 144.51326;
}

.splash {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 1px;
  height: 1px;
  z-index: 2;
}

.splash::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: var(--splash-bg-color);
  width: 284vmax;
  height: 284vmax;
  top: -142vmax;
  left: -142vmax;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06), -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  will-change: transform;
}

.nav:target > .splash::after,
.nav--open > .splash::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav:target .menuicon,
.nav--open .menuicon {
  color: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav:target .menuicon__circle,
.nav--open .menuicon__circle {
  stroke-dashoffset: 0;
}

.nav:target .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4),
.nav--open .menuicon__bar:nth-child(1),
.nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}

.nav:target .menuicon__bar:nth-child(2),
.nav--open .menuicon__bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav:target .menuicon__bar:nth-child(3),
.nav--open .menuicon__bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav:target .nav__menu,
.nav--open .nav__menu {
  visibility: visible;
}

.nav:target .nav__item,
.nav--open .nav__item {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.logo {
  padding: 25px 0 0 25px;
}

.viewport {
  width: var(--screen-width);
  height: var(--screen-height);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.header {
  height: 5rem;
  background-color: var(--header-bg-color);
}

.main {
  padding: 20px;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(130px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-auto-rows: 130px;
  grid-gap: 20px;
}

.gallery__item {
  height: 100%;
  background-color: #D8D8D8;
}

.gallery__item:hover, .gallery__item:focus {
  background-color: #A4A4A4;
}

h1 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.desktop-nav {
  padding: 55px 8.7% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-links li {
  width: 18%;
  min-width: 95px;
  text-align: right;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: var(--light-gray);
  font-weight: 300;
}

.nav-links li a {
  text-decoration: none;
  color: var(--light-gray);
}

.nav-links li a:hover {
  color: var(--purple);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.landing {
  height: 100vh;
  margin: auto;
  max-width: 1400px;
}

.no-wider-than {
  margin: auto;
  max-width: 1400px;
}

.me {
  position: absolute;
  padding: 30vh 8.7% 0;
  color: var(--off-black);
}

.arrow {
  left: 50%;
  position: absolute;
  bottom: 5%;
}

.full-width-gray {
  background-color: var(--faint-gray);
  width: 100vw;
}

.services {
  max-width: 1400px;
  margin: auto;
}

.services h1 {
  color: var(--off-black);
  padding: 113px 8.7% 64px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1400px;
}

.infobox {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #3C3C3C;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  width: 226px;
  height: 226px;
  min-width: 226px;
  text-align: center;
  margin-bottom: 104px;
}

.infobox img {
  height: 50px;
  padding-top: 10px;
}

.infobox h2 {
  font-weight: 500;
  font-size: 1.5em;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.infobox .shrinkmargin {
  margin: 7px;
}

.infobox h4 {
  font-family: 'Arvo', serif;
  font-size: 1em;
  padding: 0 9%;
}

.minusmargin {
  margin-top: -4px;
}

.clientbox {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--off-black);
  border-radius: 30px;
  width: 226px;
  height: 226px;
  min-width: 226px;
  margin-bottom: 104px;
}

.clientbox img {
  height: 150px;
  max-width: 170px;
  display: block;
  position: inherit;
  padding-top: 18%;
  margin-left: auto;
  margin-right: auto;
}

.reviews {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1400px;
  margin: auto;
  padding: 89px 8.7% 50px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: #FFFFFF;
}

.reviews h3 {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 5px;
}

.reviews p {
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 30px;
}

.about {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  padding: 113px 8.7%;
  max-width: 1400px;
  margin: auto;
}

.about h1 {
  padding-bottom: 5px;
}

.about h3 {
  font-family: 'Arvo', serif;
  font-weight: 500;
}

.contact {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1400px;
  margin: auto;
  padding: 113px 8.7%;
  color: var(--off-black);
  background-color: var(--faint-gray);
}

.contact h1 {
  padding-bottom: 5px;
}

.contact h3 {
  font-family: 'Arvo', serif;
  font-weight: 500;
}

.contact a:link,
.contact a:visited,
.work-sample a:visited,
.action a:link,
.action a:visited,
.service-action a:link,
.service-action a:visited,
.service-footer a:hover {
  color: var(--red);
}

.contact a:hover,
.action a:hover,
.service-action a:hover,
.footer a:hover,
.work-footer a:hover,
.service-a-red a:hover {
  color: var(--purple);
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Arvo', serif;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 20px;
}

.footer a {
  color: inherit;
}

.work-landing {
  margin-bottom: 50px;
}

#hpps-pad {
  padding-bottom: 80px;
}

#hpps-pad h1 {
  display: inline-block;
}

.work-overview {
  position: relative;
  padding: 8vh 8.7% 8vh;
  color: var(--off-black);
}

.work-overview h1 {
  display: block;
  color: inherit;
  font-weight: 500;
  padding-bottom: 1em;
}

.work-overview img {
  float: right;
  width: 185px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-left: 25px;
  margin-bottom: 25px;
}

.work-overview h3 {
  font-size: 1.25em;
  font-weight: 300;
  color: inherit;
}

.work-sample {
  position: relative;
  padding: 10vh 8.7% 0;
  background-color: var(--faint-gray);
  color: var(--off-black);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.work-sample h1 {
  color: var(--purple);
  font-weight: 500;
  padding-bottom: 1em;
}

.work-sample img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  padding-bottom: 2em;
}

.work-sample h4 {
  color: var(--purple);
}

.work-sample p {
  color: inherit;
  font-weight: 300;
}

.work-footer {
  text-align: center;
  padding: 20px 0;
  width: 100vw;
  position: relative;
  left: 49%;
  right: 49%;
  margin-left: -49vw;
  margin-right: -49vw;
}

.work-footer h4 {
  font-size: 12px;
  font-family: 'Arvo', serif;
  color: #FFFFFF;
}

.work-footer h4 a {
  color: #FFFFFF;
  text-decoration: none;
}

.service-block {
  padding: 90px 19%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: auto;
}

.service-block h1 {
  color: var(--off-black);
  font-weight: 500;
  padding-bottom: .5em;
}

.service-block ul {
  color: var(--off-black);
  list-style: outside;
  width: 86%;
}

.service-block ul li {
  margin-bottom: .7em;
}

.service-block img {
  min-width: 180px;
}

.sizing {
  max-width: 60%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-grid-column-align: right;
      justify-self: right;
}

.sizing ul {
  width: 100%;
}

.image-margin img {
  margin-right: 45px;
}

.color-white h1,
.color-white ul {
  color: #FFFFFF;
}

.action,
.service-action {
  padding: 55px 19%;
}

.action h2,
.service-action h2 {
  font-size: 1.5em;
  color: var(--off-black);
  text-align: center;
}

.service-a-red a {
  color: var(--red);
}

.service-a-purple a {
  color: var(--purple);
}

.service-a-purple a:hover {
  color: white;
}

.service-footer {
  text-align: center;
  padding: 20px 0;
  width: 100vw;
  position: relative;
  left: 49%;
  right: 49%;
  margin-left: -49vw;
  margin-right: -49vw;
}

.service-footer h4 {
  font-size: 12px;
  font-family: 'Arvo', serif;
  color: #FFFFFF;
}

.service-footer h4 a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 999px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 7%;
  }
  .infobox,
  .clientbox {
    margin: 0 4% 50px 4%;
  }
  .infoboxmargin {
    margin-bottom: 108px;
  }
  .service-block {
    padding: 90px 15%;
  }
}

@media screen and (min-width: 625px) {
  .mobile-nav,
  .nav-only {
    display: none;
  }
}

@media screen and (max-width: 624px) {
  .desktop-nav {
    display: none;
  }
  .viewport {
    position: absolute;
  }
  .imspecial {
    margin-bottom: 50px;
  }
  .work-overview {
    position: relative;
    top: 75px;
    z-index: 1;
  }
  .work-overview img {
    float: none;
    position: relative;
    display: inline-block;
    left: 50%;
    margin-left: unset;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    margin-bottom: 3rem;
  }
  .work-sample {
    position: relative;
  }
  .me {
    top: 15px;
    z-index: 1;
  }
  .purple-gradient {
    background-color: unset;
    background-image: unset;
  }
  .nav-purp {
    background-color: var(--gradient-purple-background);
    background-image: var(--gradient-purple-red);
  }
  .red-gradient {
    background-color: unset;
    background-image: unset;
  }
  .red-gradient-footer {
    background-color: var(--gradient-red-background);
    background-image: var(--gradient-red-purple);
  }
  .nav-red {
    background-color: var(--gradient-red-background);
    background-image: var(--gradient-red-purple);
  }
  .full-width-gray {
    background-color: unset;
  }
  .nav-gray {
    background-color: var(--faint-gray);
  }
  .service-block,
  .service-action,
  .service-footer {
    position: relative;
    top: 75px;
    z-index: 1;
  }
  .desktop-only {
    display: none;
  }
  .service-block {
    display: block;
    padding: 90px 10%;
  }
  .service-block h1 {
    text-align: center;
  }
  .service-block img {
    min-width: 90px;
    max-width: 130px;
  }
  .service-block ul {
    width: 100%;
  }
  .sizing {
    max-width: 100%;
  }
  .sizing ul {
    width: 100%;
  }
  .nav-only,
  #center1,
  #center2 {
    display: block;
    margin: auto;
    padding-bottom: 25px;
  }
}
/*# sourceMappingURL=style.css.map */