// ---------------------------
// Vars & Helper Functions
// ---------------------------

:root {
  --screen-width: 100%;
  --screen-height: 100vh;
  --header-bg-color: white;
  --splash-bg-color: #F46662;
  --purple: #5454AB;
  --red: #F46662;
  --off-black: #3C3C3C;
  --light-gray: #646464;
  --faint-gray: #FAFAFA;
  --gradient-red-purple: linear-gradient(to right, rgba(244, 102, 98, 0.9), rgba(84, 84, 171, 0.25));
  --gradient-red-background: rgba(244, 102, 98, .9);
  --gradient-purple-red: linear-gradient(to right, rgba(84, 84, 171, 0.7), rgba(244, 102, 98, 0.4));
  --gradient-purple-background: rgba(84, 84, 171, 0.6);
}

.red-gradient {
  background-color: var(--gradient-red-background);
  background-image: var(--gradient-red-purple);
}

.purple-gradient {
  background-color: var(--gradient-purple-background);
  background-image: var(--gradient-purple-red);
}

.highlight-red {
  color: var(--red);
}

.highlight-purple,
h1.highlight-purple {
  color: var(--purple);
}

// calculate a circle's circumference based on radius
@function circumference($r) {
  $pi: 3.141592653;
  @return 2*$pi*$r;
}


// ---------------------------
// Reset
// ---------------------------

/* font-family: 'Arvo', serif;
font-family: 'Roboto', sans-serif; */

html,
body,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: normal;
}

p,
ul {
  height: 100%;
  width: 100%;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

// ---------------------------
// Main Navigation Menu
// ---------------------------


.nav {

  // Toggle Button
  &__toggle {
    display: inline-block;
    position: absolute;
    z-index: 10;
    padding: 0;
    border: 0;
    background: transparent;
    outline: 0;
    right: 20px;
    top: 20px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color .15s linear;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, .5);
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--screen-height);
    position: relative;
    z-index: 5;
    visibility: hidden;
  }

  &__item {
    opacity: 0;
    transition: all .3s cubic-bezier(0.000, 0.995, 0.990, 1.000) .3s;
  }

  @for $i from 1 through 5 {
    &__item:nth-child(#{$i}) {
      transform: translateY(-40px * $i);
    }
  }

  &__link {
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 1rem;
    position: relative;
    bottom: 8vh; //vertical positioning for block of links


    &:hover,
    &:focus {
      outline: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}


// ---------------------------
// SVG Menu Icon
// ---------------------------

.menuicon {
  display: block;
  cursor: pointer;
  color: var(--light-gray);

  transform: rotate(0deg);
  transition: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);

  &__bar,
  &__circle {
    fill: none;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
  }

  &__bar {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform .25s ease-in-out;
  }

  &__circle {
    transition: stroke-dashoffset .3s linear .1s;
    stroke-dashoffset: circumference(23); // 23 is the <circle>'s radius
    stroke-dasharray: circumference(23);
  }
}


// ---------------------------
// Circular Splash Background
// ---------------------------

.splash {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 1px;
  height: 1px;
  z-index: 2;

  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: var(--splash-bg-color);

    // screen diameter can be 142vmax at most,
    // circle needs to be twice that size to cover it
    width: 284vmax;
    height: 284vmax;
    top: -142vmax;
    left: -142vmax;

    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);

    // will-change tells the browser we plan to
    // animate this property in the near future
    will-change: transform;
  }
}


// ---------------------------
// Active State
// ---------------------------

.nav:target,
.nav--open {

  //scale the background circle to full size
  >.splash::after {
    transform: scale(1);
  }

  //animate the menu icon
  .menuicon {
    color: white;
    transform: rotate(180deg);

    &__circle {
      stroke-dashoffset: 0;
    }

    &__bar:nth-child(1),
    &__bar:nth-child(4) {
      opacity: 0;
    }

    &__bar:nth-child(2) {
      transform: rotate(45deg);
    }

    &__bar:nth-child(3) {
      transform: rotate(-45deg);
    }
  }

  //show the nav items
  .nav {
    &__menu {
      visibility: visible;
    }

    &__item {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

// ---------------------------
// Mobile Nav CSS
// ---------------------------



.logo {
  padding: 25px 0 0 25px;
}

.viewport {
  width: var(--screen-width);
  height: var(--screen-height);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.header {
  height: 5rem;
  background-color: var(--header-bg-color);
}

.main {
  padding: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-auto-rows: 130px;
  grid-gap: 20px;

  &__item {
    height: 100%;
    background-color: #D8D8D8;

    &:hover,
    &:focus {
      background-color: #A4A4A4;
    }
  }
}

h1 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

// ---------------------------
// Desktop Nav CSS
// ---------------------------

.desktop-nav {
  padding: 55px 8.7% 0;
  display: flex;
  align-items: center;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;

  li {
    width: 18%;
    min-width: 95px;
    text-align: right;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: var(--light-gray);
    font-weight: 300;
  }

  li a {
    text-decoration: none;
    color: var(--light-gray);
  }

  li a:hover {
    color: var(--purple);
  }

}

// ---------------------------
// Hover Grow CSS
// ---------------------------

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

// ---------------------------
// Index Page CSS
// ---------------------------

.landing {
  height: 100vh;
  margin: auto;
  max-width: 1400px;
}

.no-wider-than {
  margin: auto;
  max-width: 1400px;
  // box-sizing: border-box;
}

.me {
  position: absolute;
  padding: 30vh 8.7% 0;
  color: var(--off-black);
}

.arrow {
  left: 50%;
  position: absolute;
  bottom: 5%;
}

.full-width-gray {
  background-color: var(--faint-gray);
  width: 100vw;
}

.services {
  // background-color: var(--faint-gray);
  max-width: 1400px;
  margin: auto;

  h1 {
    color: var(--off-black);
    padding: 113px 8.7% 64px;
  }
}



.container {
  display: flex;
  justify-content: space-evenly;
  max-width: 1400px;
}

.infobox {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #3C3C3C;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  width: 226px;
  height: 226px;
  min-width: 226px;
  text-align: center;
  margin-bottom: 104px;

  img {
    height: 50px;
    padding-top: 10px;
  }

  h2 {
    font-weight: 500;
    font-size: 1.5em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

  .shrinkmargin {
    margin: 7px;
  }

  h4 {
    font-family: 'Arvo', serif;
    font-size: 1em;
    padding: 0 9%;
  }
}

.minusmargin {
  margin-top: -4px;
}

.clientbox {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--off-black);
  border-radius: 30px;
  width: 226px;
  height: 226px;
  min-width: 226px;
  margin-bottom: 104px;

  img {
    height: 150px;
    max-width: 170px;
    display: block;
    position: inherit;
    padding-top: 18%;
    margin-left: auto;
    margin-right: auto;
  }
}

.reviews {
  box-sizing: border-box;
  max-width: 1400px;
  margin: auto;
  padding: 89px 8.7% 50px;
  // padding: 113px 8.7% 64px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: #FFFFFF;

  h3 {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 5px;
  }

  p {
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 30px;
  }
}

.about {
  box-sizing: border-box;
  color: #FFFFFF;
  padding: 113px 8.7%;
  max-width: 1400px;
  margin: auto;

  h1 {
    padding-bottom: 5px;
  }

  h3 {
    font-family: 'Arvo', serif;
    font-weight: 500;
  }
}

.contact {
  box-sizing: border-box;
  max-width: 1400px;
  margin: auto;
  padding: 113px 8.7%;
  color: var(--off-black);
  background-color: var(--faint-gray);

  h1 {
    padding-bottom: 5px;
  }

  h3 {
    font-family: 'Arvo', serif;
    font-weight: 500;
  }
}

.contact a:link,
.contact a:visited,
// .work-sample a:link,
.work-sample a:visited,
.action a:link,
.action a:visited,
.service-action a:link,
.service-action a:visited,
.service-footer a:hover {
  color: var(--red);
}

.contact a:hover,
.action a:hover,
.service-action a:hover,
.footer a:hover,
.work-footer a:hover,
.service-a-red a:hover {
  color: var(--purple);
}

.footer {
  box-sizing: border-box;
  font-family: 'Arvo', serif;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 20px;

  a {
    color: inherit;
  }
}

// ---------------------------
// Work Page CSS
// ---------------------------


.work-landing {
  margin-bottom: 50px;
}

#hpps-pad {
  padding-bottom: 80px;

  h1 {
    display: inline-block;
  }
}

.work-overview {
  position: relative;
  padding: 8vh 8.7% 8vh;
  color: var(--off-black);

  h1 {
    display: block;
    color: inherit;
    font-weight: 500;
    padding-bottom: 1em;
  }

  img {
    float: right;
    width: 185px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    margin-left: 25px;
    margin-bottom: 25px;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 300;
    color: inherit;
  }
}

.work-sample {
  position: relative;
  padding: 10vh 8.7% 0;
  background-color: var(--faint-gray);
  color: var(--off-black);
  box-sizing: border-box;

  h1 {
    color: var(--purple);
    font-weight: 500;
    padding-bottom: 1em;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    padding-bottom: 2em;
  }

  h4 {
    color: var(--purple);
  }

  p {
    color: inherit;
    font-weight: 300;
  }
}

.work-footer {
  text-align: center;
  padding: 20px 0;
  width: 100vw;
  position: relative;
  left: 49%;
  right: 49%;
  margin-left: -49vw;
  margin-right: -49vw;

  h4 {
    font-size: 12px;
    font-family: 'Arvo', serif;
    color: #FFFFFF;

    a {
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}


// ---------------------------
// Services Page CSS
// ---------------------------

.service-block {
  padding: 90px 19%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;

  h1 {
    color: var(--off-black);
    font-weight: 500;
    padding-bottom: .5em;
  }

  ul {
    color: var(--off-black);
    list-style: outside;
    width: 86%;

    li {
      margin-bottom: .7em;
    }
  }

  img {
    min-width: 180px;
  }
}

.sizing {
  max-width: 60%;
  flex-grow: 1;
  justify-self: right;

  ul {
    width: 100%;
  }
}

.image-margin {
  img {
    margin-right: 45px;
  }
}

.color-white {

  h1,
  ul {
    color: #FFFFFF;
  }
}

.action,
.service-action {
  padding: 55px 19%;

  h2 {
    font-size: 1.5em;
    color: var(--off-black);
    text-align: center;
  }
}

.service-a-red {
  a {
    color: var(--red);
  }
}

.service-a-purple {
  a {
    color: var(--purple);
  }
}

.service-a-purple a:hover {
  color: white;
}

.service-footer {
  text-align: center;
  padding: 20px 0;
  width: 100vw;
  position: relative;
  left: 49%;
  right: 49%;
  margin-left: -49vw;
  margin-right: -49vw;

  h4 {
    font-size: 12px;
    font-family: 'Arvo', serif;
    color: #FFFFFF;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}


// ---------------------------
// Media Queries
// ---------------------------

@media screen and (max-width: 999px) {
  .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 7%;
  }

  .infobox,
  .clientbox {
    margin: 0 4% 50px 4%;
  }

  .infoboxmargin {
    margin-bottom: 108px;
  }

  .service-block {
    padding: 90px 15%;
  }

}

@media screen and (min-width: 625px) {

  .mobile-nav,
  .nav-only {
    display: none;
  }

}

@media screen and (max-width: 624px) {
  .desktop-nav {
    display: none;
  }

  .viewport {
    position: absolute;
  }

  .imspecial {
    margin-bottom: 50px; //fix odd margin 
  }

  .work-overview {
    position: relative;
    top: 75px;
    z-index: 1;

    img {
      float: none;
      position: relative;
      display: inline-block;
      left: 50%;
      margin-left: unset;
      transform: translate(-50%);
      margin-bottom: 3rem;
    }
  }

  .work-sample {
    position: relative;
  }

  .me {
    top: 15px;
    z-index: 1;
  }

  .purple-gradient {
    background-color: unset;
    background-image: unset;
  }

  .nav-purp {
    background-color: var(--gradient-purple-background);
    background-image: var(--gradient-purple-red);
  }

  .red-gradient {
    background-color: unset;
    background-image: unset;
  }

  .red-gradient-footer {
    background-color: var(--gradient-red-background);
    background-image: var(--gradient-red-purple);
  }

  .nav-red {
    background-color: var(--gradient-red-background);
    background-image: var(--gradient-red-purple);
  }

  .full-width-gray {
    background-color: unset;
  }

  .nav-gray {
    background-color: var(--faint-gray);
  }


  .service-block,
  .service-action,
  .service-footer {
    position: relative;
    top: 75px;
    z-index: 1;
  }

  .desktop-only {
    display: none;
  }

  .service-block {
    display: block;
    padding: 90px 10%;

    h1 {
      text-align: center;
    }

    img {
      min-width: 90px;
      max-width: 130px;
    }

    ul {
      width: 100%;
    }
  }

  .sizing {
    max-width: 100%;

    ul {
      width: 100%;
    }
  }

  .nav-only,
  #center1,
  #center2 {
    display: block;
    margin: auto;
    padding-bottom: 25px;
  }
}